{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>pharmasecure</title>
	<link rel = "icon" href = 
"https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1455514022/cglkrfu7k6l1t39viqjg.png" 
        type = "image/x-icon">
</head>

<body>
	<!--Header(start)-->
	<table id="header" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#ddeded">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td>
							

						</td>

						<td>
							<font face="Comic sans MS" size="6">
								<b>PHARMASECURE</b>
							</font>
						</td>

						<td width="15%">
							
						</td>

						<td>
							<a href="admin" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									Admin
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="managerRegister" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									managerRegister
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="managerLogin" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									ManagerLogin
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="employeeLogin" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									employeeLogin
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#contact" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									Contact
								</font>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Header(end)-->

	<!--Home(start)-->
	<table id="home" border="1" width="100%"
		cellpadding="20" cellspacing="0" bgcolor="GREY">
		<tr>
		</tr>
	</table>
	<!--Home(end)-->


	<!--About(start)-->
	<table id="about" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#ddeded">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="100%" align="center">
					<tr>
						<td height="70" align="center"
							valign="middle" colspan="7">
							<font face="Verdana" size="5"
								color="Gray">
								Superior Supply chain solution for Post-Pandemic world
							</font>
							<hr color="Gray" width="50">
						</td>
					</tr>

					<tr>
						<td width="10%">
							<img src="{% static 'files/images/img.svg' %}">
						</td>

						<td width="60%">
							<font face="Verdana" size="4"
								color="black">
								Pharmasecure is a company that provides technology-based solutions to prevent counterfeit drugs and improve patient safety in the pharmaceutical industry
							
								Pharmasecure's solution helps to prevent the distribution and sale of fake drugs, which can be a major problem in some parts of the world
					
								<br>
								<b>Pharmasecure.</b>
							</font>
						</td>
					</tr>
				</table>
				
		
			</td>
		</tr>
	</table>
	<!--About(end)-->


	<!--Contact(start)-->
	<table id="contact" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#ddeded">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="black">
								Contact
							</font>
							<hr color="black" width="30%">
						
						</td>
					</tr>

					<tr>
						<td align="center" valign="top">
							<table border="0" width="50%" cellpadding="15"
								cellspacing="0" align="center" bgcolor="454545">
								<tr>
									<td width="30%">
										
										<font face="Verdana" size="4"
											color="#ddeded">
											Name
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<input type="text" size="40">
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										<font face="Verdana" size="4"
											color="#ffffff">
											Email
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<input type="email" size="40">
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										<font face="Verdana" size="4"
											color="#ffffff">
											Number
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<input type="number" size="12">
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										<font face="Verdana" size="4"
											color="#ffffff">
											Message
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<textarea rows="5"
												cols="37">
											</textarea>
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										
									</td>
									<td width="70%">
										<button type="Submit">
											<font face="Verdana"
												size="4" color="black">
												<b>Submit</b>
											</font>
										</button>
										
									</td>
								</tr>
							</table>
						</td>

					</tr>
					<tr>
						<td colspan="2">
							
							
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Contact(end)-->


	<!--Footer1(start)-->
	<table id="footer" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#ddeded">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td width="13%" valign="top">
							<b>LinkedIn</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>GitHub</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>


						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Twitter</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Instagram</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Email</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Website</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Footer1(end)-->


	<!--Footer2(start)-->
	<table id="footer" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#ddeded">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td width="80%" valign="top">
							<font face="Verdana"
								color="#4CAF50" size="4">
								@Copyright 2023 by nobody.
								All rights reserved.
							</font>
						</td>

						<td width="10%">
							<font face="arial" color="black" size="5">
								<a href="#header" style="text-decoration:none">
									<font face="Verdana" color="#4CAF50" size="6">
										<b>PHARMASECURE.</b>
									</font>
								</a>
							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Footer2(end)-->

</body>

</html>
